# streamlit
# faiss-cpu
# docx
# numpy
# langchain
# PyPDF2
# google-generativeai
# python-dotenv

# streamlit
# faiss-cpu
# langchain
# langchain-community
# langchain-groq
# langchain-text-splitters
# fastembed
# PyPDF2
# python-docx
# requests
# yt-dlp


streamlit>=1.32.0

# Audio & Transcription
openai-whisper
yt-dlp

# Document Processing
PyPDF2
python-docx

# Vector Store & Embeddings
faiss-cpu
fastembed

# LangChain Ecosystem
langchain
langchain-community
langchain-text-splitters
langchain-groq

# Utilities
numpy
torch

